@model IEnumerable<Wardrobe1.Models.AccessoriesStuff>

@{
    ViewBag.Title = "Index";
}

<h2>Accessories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occasion)
        </th>
        <th></th>
    </tr>*@
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                @Html.DisplayFor(modelItem => item.Name)
                <img src="@Url.Content(item.Photo)" />
                <p>
                    <br />
                        @Html.ActionLink("Edit", "Edit", new { id = item.AccessoriesID }, new { id = "crudLink" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.AccessoriesID }, new { id = "crudLink" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.AccessoriesID }, new { id = "crudLink" })
                </p>
            </div>
        </div>
    }
</div>