@model IEnumerable<Wardrobe1.Models.ClothingMain>

@{
    ViewBag.Title = "Index";
}

<h2>Outfits</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopStuff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomStuff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoeStuff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessoriesStuff)
        </th>
        <th></th>
    </tr>
</table>*@

 <div class="row">
    @foreach (var item in Model)
    {
        <div class="container">
            <div class="col-xs-6 col-md-3 col-lg-3">
                <div class="thumbnail">
                    @Html.DisplayFor(modelItem => item.TopStuff.Name)
                    <img src="@Url.Content(item.TopStuff.Photo)" />

                    @Html.DisplayFor(modelItem => item.BottomStuff.Name)
                    <img src="@Url.Content(item.BottomStuff.Photo)" />

                    @Html.DisplayFor(modelItem => item.ShoeStuff.Name)
                    <img src="@Url.Content(item.ShoeStuff.Photo)" />

                    @Html.DisplayFor(modelItem => item.AccessoriesStuff.Name)
                    <img src="@Url.Content(item.AccessoriesStuff.Photo)" />

                    @Html.ActionLink("Edit", "Edit", new { id = item.ClothingID })
                    @Html.ActionLink("Details", "Details", new { id = item.ClothingID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ClothingID })
                </div>
            </div>
        </div>
    }
</div>