@model IEnumerable<Wardrobe1.Models.ClothingMain>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopStuff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomStuff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoeStuff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessoriesStuff)
        </th>
        <th></th>
    </tr>
</table>*@

    
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-4" id="reviewIndex">
                    <div class="thumbnail">
                        @Html.DisplayFor(modelItem => item.TopStuff.Name)
                        @if (item.TopStuff.Name == "Kitty T-shirt")
                        {
                            <p><img src="~/Pictures/Tops/RipNDip-Lord-Nermal-Pocket-T-Shirt-_261664-front.jpg" /></p>
                        }
                    </div>
                    <div class="thumbnail">
                        @Html.DisplayFor(modelItem => item.BottomStuff.Name)
                        @if (item.BottomStuff.Name == "Levi's jeans")
                        {
                            <p><img src="~/Pictures/Bottoms/045114406-2014-fall-front-pdp.jpg" /></p>
                        }
                    </div>
                    <div class="thumbnail">
                        @Html.DisplayFor(modelItem => item.ShoeStuff.Name)
                        @if (item.ShoeStuff.Name == "Vans")
                        {
                            <p><img src="~/Pictures/Shoes/9040332488734.jpg" /></p>
                        }
                    </div>
                    <div class="thumbnail">
                        @Html.DisplayFor(modelItem => item.AccessoriesStuff.Name)
                        @if (item.AccessoriesStuff.Name == "Supreme beanie")
                        {
                            <p><img src="~/Pictures/Accessories/x354-q80.jpg" /></p>
                        }
                    </div>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ClothingID })
                    @Html.ActionLink("Details", "Details", new { id = item.ClothingID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ClothingID })
                </div>
            </div>
        }